.landing_container{
    display: inline-block;
    background-color: rgba(111, 27, 27, 0.008);
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    background-image: url('assets/landing.jpg');
    padding-top: 15rem;
}


.banner{
    display: flex;
        align-items: center;
            justify-content: center;
}


.landing_container img{
    display: flex;
        width: 700px;
        height: cover;
}
