
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


.cardContainer {
    font-family: 'Russo One', sans-serif;
    position: relative;
    display: inline-block;
    width: 170px;
    height: 180px;
    background-color: #222622e4;
    border-radius: 20px;
    padding: 25px;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.70s ease-out;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 20vh;
    border-bottom-left-radius: 50% 58%;
    border-bottom-right-radius: 50% 58%;
    box-shadow: 0px 0px 10px rgb(155, 32, 32);
}
.cardContainer:hover{
    transform: scale(1.05);
}

.cardContainer h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
    }

        .cardContainer span {

    font-size: 17px;
    margin:0px;
    padding-bottom: 5rem;
}

p{
    font-size:23px;
    margin: 0;
}



.imagen{
position: absolute;
width: 175px;
top: -110px;
transform:translatex(-80px) ;
}


.details{
display:inline-block;
padding-top: 1.5rem
}


/* show delete */
.confirmation{
    display: inline-block;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 25rem;
    width: 500px;
    height: 150px;
    border-radius: 2rem;
    background-color: #00000080;
}

.confirmation button{
margin: .5rem;}

/* nombres de todos */
 h2{
    font-size: 25px;
    margin: 0px;
    /* padding-block: 10px; */
        text-transform: uppercase;
}









/* cartas por color de type

*/
.cardWater{
            font-family: 'Russo One', sans-serif;
            position: relative;
             display: inline-block;
            width: 170px;
            height: 180px;
            background-color: #4b6babe4;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-right-radius: 50% 58%;
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            transform: translatey(0);
            transition: transform 0.70s ease-out;
            box-shadow: 0px 0px 5px rgb(255, 255, 255);

}

.cardWater:hover {
    transform: translateY(-15px);
}


.cardWater h1 {
    align-items: center;
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}


 .cardFire{
             font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color: #ba4d35e4;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            border-bottom-right-radius: 50% 58%;
            height: 20vh;transform: translatey(0);
            transition: transform 0.70s ease-out;
            box-shadow: 0px 0px 5px rgb(255, 255, 255);

            }

            .cardFire:hover {
                transform: translateY(-15px);
            }

.cardFire h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.cardNormal{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color: #58413e;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
            box-shadow: 0px 0px 5px rgb(255, 255, 255);

            }

            .cardNormal:hover {
                transform: translateY(-15px);
            }

.cardNormal h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.cardFighting{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#9E724D;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                        box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }

            .cardFighting:hover {
                transform: translateY(-15px);
            }

.cardFighting h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.cardFlying{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#a492b5;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                    box-shadow: 0px 0px 5px rgb(255, 255, 255);
                    }

                    .cardFlying:hover {
                        transform: translateY(-15px);
                    }

.cardFlying h1 {
    font-size: 70px;
    margin: 0px;
    text-transform: uppercase;
}

.cardPoison{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#af59c5c5;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
            box-shadow: 0px 0px 5px rgb(255, 255, 255);
                    }

                    .cardPoison:hover {
                        transform: translateY(-15px);
                    }
.cardPoison h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.cardGround{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#a66f3f;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                        box-shadow: 0px 0px 5px rgb(255, 255, 255);
                }

                .cardGround:hover {
                    transform: translateY(-15px);
                }

.cardGround h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.cardBug{
            font-family: 'Russo One', sans-serif;
             position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#80BF51;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                        box-shadow: 0px 0px 5px rgb(255, 255, 255);
        }

        .cardBug:hover {
            transform: translateY(-15px);
        }

.cardBug h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.cardGhost{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#6856ba;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                        box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }

                    .cardGhost:hover {
                        transform: translateY(-15px);
                    }

.cardGhost h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.cardSteel{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#9b95ba;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                        box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }
                .cardSteel:hover {
                    transform: translateY(-15px);
                }


.cardSteel h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.cardElectric{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#d2c856;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                        box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }

                .cardElectric:hover {
                    transform: translateY(-15px);
                }

.cardElectric h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}
.cardGrass{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#4a9542;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                        box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }
                    .cardGrass:hover {
                        transform: translateY(-15px);
                    }
.cardGrass h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.cardPsychic{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#66558f;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                        box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }

                .cardPsychic:hover {
                    transform: translateY(-15px);
                }

.cardPsychic h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}
.cardIce{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#52adce;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                        box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }

                .cardIce:hover {
                    transform: translateY(-15px);
                }

.cardIce h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.carddragon{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#989c46;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                        box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }

                    .carddragon:hover {
                        transform: translateY(-15px);
                    }

.carddragon h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.cardDark{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#1f3d37;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                        box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }

                    .cardDark:hover {
                        transform: translateY(-15px);
                    }

.cardDark h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.cardFairy{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#bd476b;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            border-bottom-left-radius: 50% 58%;
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                        box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }

                     .cardFairy:hover {
                     transform: translateY(-15px);
                     }

.cardFairy h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}

.cardRock{
            font-family: 'Russo One', sans-serif;
            position: relative;
            display: inline-block;
            width: 170px;
            height: 180px;
            background-color:#8e5f2e;
            border-radius: 20px;
            padding: 25px;
            backface-visibility: hidden;
            transform: translateZ(0);
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255);
            height: 20vh;
            border-bottom-right-radius: 50% 58%;
            border-bottom-left-radius: 50% 58%;
            transition: transform 0.70s ease-out;
                        box-shadow: 0px 0px 5px rgb(255, 255, 255);
            }

                .cardRock:hover {
                    transform: translateY(-15px);
                }

.cardRock h1 {
    font-size: 50px;
    margin: 0px;
    text-transform: uppercase;
}