.home_container{
    background-color: #5d8bffcb;
    min-height: 935px;
    max-width: cover;
}

.center.vertically {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.notFound {
    padding-top: 15rem;
    align-items: center;
    justify-content: center;
}

.notFound img {
    width: 250px;
    height: cover;
}

.notFound h1 {
    color: rgb(0, 0, 0);
}

.landing_container h1 {
    padding: 50px;
    margin: 0px;
    z-index: 100;
}