.cards_container {
    justify-content: center;
    align-items: center;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    min-height:64vh;
    padding-inline: 22rem;
    padding-top: 6rem;
    padding-bottom: 1.5rem;
    row-gap: 6rem;
    cursor: pointer;
    margin-top: 1rem;
    order: 2;
}

@media (min-width:800px){
    .cards_container{
        grid-template-columns: repeat(4, 1fr);
    }
}

