.cards_container {
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
    min-height:65vh;
    padding-inline: 20rem;
    padding-top: 6rem;
    row-gap: 6rem;
        cursor: pointer;
}

@media (min-width:800px){
    .cards_container{
        grid-template-columns: repeat(4, 1fr);
    }
}