.filters{
    height: 105px;
    width: 100%;
    display: flex;
    justify-content: end;
    background-color: rgba(10, 113, 223, 0.786);
    align-items: center;
    
}

.filters select{
    height: 50px;
    margin: 1rem;
    border-radius: 8px;
    text-transform: capitalize;
    background-color: rgb(25, 24, 24);
}

select {
    font-weight: 200;
    color: #ffffff;
    text-decoration: inherit;

}

select:hover {
    color: #535bf2;
}



select {
    border-radius: 8px;
    border: 1px solid transparent;
    /* padding: 0.6em 1.2em; */
    font-size: 1em;
    font-weight: 250;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

select:hover {
    border-color: #646cff;
}

select:focus,
select:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

        select:hover {
        color: #747bff;
    }

        select {
        background-color: #f9f9f9;
    }
}