.searchContainer{
    display: flex;
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.298); */
    border: none;
    outline: none;
    padding: 10px;
    width: 900px;
    line-height: 90px;
    /* padding-inline: 2rem; */
    justify-content: center;
    align-items: center;
}

.searchContainer img{
    width: 250px;
    height: cover;
    padding-right: 2rem;
    cursor: pointer;
}

.form {
    display: flex;
    align-items: center;
    gap: 1rem;
    }
    

input{
        height: 45px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.605);
        padding-left: 20px;
    }
   